<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LabaryApplicationEntities" connectionString="metadata=res://*/dulieu.csdl|res://*/dulieu.ssdl|res://*/dulieu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LabaryApplicationEntities1" connectionString="metadata=res://*/dulieusach.csdl|res://*/dulieusach.ssdl|res://*/dulieusach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LabaryApplicationEntities2" connectionString="metadata=res://*/dulieudocgia.csdl|res://*/dulieudocgia.ssdl|res://*/dulieudocgia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LabaryApplicationEntities3" connectionString="metadata=res://*/dulieunhanvien.csdl|res://*/dulieunhanvien.ssdl|res://*/dulieunhanvien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LabaryApplicationEntities4" connectionString="metadata=res://*/dulieumuon.csdl|res://*/dulieumuon.ssdl|res://*/dulieumuon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LabaryApplicationEntities5" connectionString="metadata=res://*/dulieutra.csdl|res://*/dulieutra.ssdl|res://*/dulieutra.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dulieuthuvien" connectionString="metadata=res://*/dulieuthuvien.csdl|res://*/dulieuthuvien.ssdl|res://*/dulieuthuvien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyThuVienEntities" connectionString="metadata=res://*/QuanLyThuVien.csdl|res://*/QuanLyThuVien.ssdl|res://*/QuanLyThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=LabaryApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyThuVienEntities1" connectionString="metadata=res://*/QuanLyThuVien.csdl|res://*/QuanLyThuVien.ssdl|res://*/QuanLyThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H9LM095\SQLEXPRESS;initial catalog=QuanLyThuVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>